owner-repo: &owner-repo
  owner-repo: palantir/amalgomate

version: 2.1

orbs:
  go: palantir/go@0.0.12
  godel: palantir/godel@0.0.12

jobs:
  wiki:
    executor:
      name: go/golang
      version: 1.13.3
      <<: *owner-repo
    steps:
      - go/setup
      - run: ./godelw github-wiki --docs-dir docs --repository=git@github.com:palantir/amalgomate.wiki.git

workflows:
  version: 2
  verify-test:
    jobs:
      - godel/verify:
          name: verify
          executor:
            name: go/golang
            version: 1.13.3
            <<: *owner-repo
      - godel/test:
          name: test-go-1.13
          executor:
            name: go/golang
            version: 1.13.3
            <<: *owner-repo
      - wiki:
          requires:
            - verify
          filters:
            branches:
              only: /^master$/
